<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myRecipe</title>
</head>
<body>
    <%- include("../layout", { title: "My Recipes", body: `
<h2>My Recipes</h2>

<div class="recipe-list">
    ${recipes.length === 0 
        ? "<p>No recipes yet.</p>" 
        : recipes.map(recipe => `
            <%- include("recipeItem", { recipe }) %>
          `).join("")
    }
</div>

` }) %>

</body>
</html>